<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <label for="firstName">First Name :</label>
    <input type="text" [(ngModel)]="userData.firstName"/><br>

  </div>
  <div>
    <label for="lastName">Last Name :</label>
    <input type="text" [(ngModel)]="userData.lastName"/><br>

  </div>
   <div>
    <label for="emailId">EmailId :</label>
    <input type="text" [(ngModel)]="userData.emailId" /><br>

  </div>
  <div>
    <label for="Contact">Contact No :</label>
    <input type="text"  [(ngModel)]="userData.Contact"/><br>

  </div>
  <div>
    <button type="submit" (click)="submit()">Register!!!</button>

  </div>
<router-outlet></router-outlet>
