<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <table>
    <tr>
      <td>
        <nav>
          <a routerLink="/registration-service">Sign-Up!!</a>
        </nav>
      </td>
      <td>
        <nav>
          <a routerLink="/log-in-service">Log-In </a>
        </nav>
      </td>
      <td>
          <nav>
            <a routerLink="/vendor-registration">Vendor Registration </a>
          </nav>
        </td>
    </tr>
</table>

  <router-outlet></router-outlet>
